<div class="container">
    <div class="grid grid-cols-12 gap-3">
        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img src="https://cdn-icons-png.flaticon.com/128/9449/9449335.png" alt="" class="w-1/2 sm:w-[100%]">

            </div>

        </div>

        <div class="col-span-4 lg:col-span-9">
            <div class="space-y-2 ml-3">
                <div>
                    <p class="nobottomPadding">MyName</p>
                    <p class="opacity-70">June 20, 2024</p>
                </div>
                <div>
                    <app-star-rating></app-star-rating>
                </div>
                <p>
                    Noice
                </p>

            </div>

        </div>
    </div>

</div>